<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA PROCESSING VISUALIZATION (4313)
## Bidhan Subedi (222955)
## DATES

Importing pandas and loading csv file into df.

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

In [2]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

Using the dataset from an IOT device retreived from here and introduced to here. Uploaded to the web for you to retrieve easily here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv Answer the folloiwng questions.

Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.
What is the minimum and maximum date and time?
What is the largest interval inbetween temperature checks?
What is the average datetime?
What was the average outside temperature on '09-11-2018'?