<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA PROCESSING VISUALIZATION (4313)
## Bidhan Subedi (222955)
## DATES

Importing pandas and loading csv file into df.

In [12]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df.head()

                                    id  room_id/id  ... temp  out/in
0  __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1  __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2  __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3  __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4  __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In

[5 rows x 5 columns]

In [2]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

Using the dataset from an IOT device retreived from here and introduced to here. Uploaded to the web for you to retrieve easily here https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv Answer the folloiwng questions.

Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.
What is the minimum and maximum date and time?
What is the largest interval inbetween temperature checks?
What is the average datetime?
What was the average outside temperature on '09-11-2018'?

In [15]:
df.noted_date=pd.to_datetime(df.noted_date)
df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

In [16]:
df.dtypes

id                    object
room_id/id            object
noted_date    datetime64[ns]
temp                   int64
out/in                object
dtype: object

In [20]:
df.noted_date.min()

Timestamp('2018-01-11 00:06:00')

In [21]:
df.noted_date.max()

Timestamp('2018-12-10 23:55:00')