<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA PROCESSING VISUALIZATION (4313)
## Bidhan Subedi (222955)
## DATES

Importing pandas and loading csv file into df.

In [64]:
import time
from datetime import date
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

Looking into the data types. noted_date is object.

### Converting the noted_date into DateTime

In [71]:
noted_date=pd.to_datetime(df.noted_date)
df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

In [72]:
df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

See the change? now the note_date is datetime64 dtype.

### Converting the minimum and maximum date and time

In [73]:
print("The minimum date and time =",min(df.noted_date))

The minimum date and time = 01-11-2018 00:06

In [74]:
print("The maximum date and time =",max(df.noted_date))

The maximum date and time = 31-10-2018 23:57

###  Finding the largest interval inbetween temperature checks

In [76]:
(noted_date.shift() - noted_date).max()

Timedelta('242 days 01:15:00')

### The average datetime

In [77]:
noted_date.mean()

Timestamp('2018-09-18 23:04:02.697989888')