<a href="https://colab.research.google.com/github/bidhan7/Data-Processing-Visualization-/blob/main/Int%26Float.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA PROCESSING VISIUALIZATION
## Bidhan Subedi
## Int & Float

Grabing the iris dataset.

In [2]:
import pandas as pa

df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.SepalLength.mean()

5.843333333333335

In [4]:
int_sl=df.SepalLength.astype('int').mean()
int_sl

5.386666666666667

Thus, Converting SepalLength to integer decreases the mean.

Does the direction of the shift remain the same if you groupby Class?

In [20]:
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [27]:
df1=df.groupby("Class")
df1.head()

     SepalLength  SepalWidth  PedalLength  PedalWidth            Class
0            5.1         3.5          1.4         0.2      Iris-setosa
1            4.9         3.0          1.4         0.2      Iris-setosa
2            4.7         3.2          1.3         0.2      Iris-setosa
3            4.6         3.1          1.5         0.2      Iris-setosa
4            5.0         3.6          1.4         0.2      Iris-setosa
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
53           5.5         2.3          4.0         1.3  Iris-versicolor
54           6.5         2.8          4.6         1.5  Iris-versicolor
100          6.3         3.3          6.0         2.5   Iris-virginica
101          5.8         2.7          5.1         1.9   Iris-virginica
102          7.1         3.0          5.9         2.1   Iris-virginica
103          6.3         2.9          5.6         1.8   Iris-virginica
104          6.5         3.0          5.8         2.2   Iris-virginica

Compared to original dataset the shift remain the same even if grouping by Class.

Gather the mean, median, count and standard deviation of all columns when grouped by Class.

In [14]:
df.groupby("Class").describe()

                SepalLength                        ... PedalWidth
                      count   mean       std  min  ...        25%  50%  75%  max
Class                                              ...
Iris-setosa            50.0  5.006  0.352490  4.3  ...        0.2  0.2  0.3  0.6
Iris-versicolor        50.0  5.936  0.516171  4.9  ...        1.2  1.3  1.5  1.8
Iris-virginica         50.0  6.588  0.635880  4.9  ...        1.8  2.0  2.3  2.5

[3 rows x 32 columns]

Let's remove 25%,50% and 75% from table.

In [12]:
df.groupby('Class').agg(['mean','median','count', 'std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]